@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700');

body, h1, input, select, textarea, form, pre
	{ margin:0; padding:0; }
body
	{ background:#f5f5f5; }
body, pre, input, select, textarea, button
	{ font-family:'Titillium Web', sans-serif; font-size:13px; color:#888; }
table
	{ border-spacing:0; }
td
	{ padding:0; }
a
	{ text-decoration:none; color:#2e79bf; transition:all 0.2s ease-in-out; }
a:hover
	{ color:#821303; }
hr
	{ border:0 none; border-top:1px solid #ebebeb; margin:9px 0 19px 0; }
.fl
	{ float:left; }
.fr
	{ float:right; }
.clr
	{ clear:both; }
.clrf:after
	{ clear:both; display:block; content:" "; }
.cp
	{ cursor:pointer; }
.hide
	{ display:none; }
.w100
	{ width:100%; }
.wa
	{ width:auto; }
.mr
	{ margin-right:15px; }
.mb
	{ margin-bottom:15px; }
.third
	{ width:33.33%; }
.pr
	{ padding-right:10px; }
header
	{ background:#FFF; position:fixed; left:0; top:0; z-index:2; width:100%; box-shadow:0 4px 20px -2px rgba(0,0,0,.1); z-index:2; }
header table
	{ width:100%; }
.logo
	{ display:block; background:#2b373a; font-size:26px; color:#16ffd8; padding:20px 20px; text-align:center; border-right:1px solid #dedede; font-weight:700; width:100%; box-sizing:border-box; }
.logo:hover
	{ color:#FFF; }
header td:first-child
	{ width:201px; }
header td:last-child
	{ border-left:1px solid #ebebeb; padding:0 20px; white-space:nowrap; }
header td:last-child a
	{ color:#787878; }
header td:last-child .fr
	{ width:150px; }
header .fa-angle-down
	{ margin:0 0 0 7px; }
.accmenu
	{ position:relative; display:none; }
.accmenu ul
	{ margin:0; padding:0; position:absolute; top:20px; left:-20px; list-style:none; border-radius:2px; background:#FFF; box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12); }
.accmenu ul li a
	{ display:block; padding:15px; padding-right:40px; }
.accmenu ul li a:hover
	{ background-color:rgba(158,158,158,0.2); }
.accmenu ul li a .fa
	{ margin-right:10px; }
aside
	{ width:200px; position:fixed; left:0; top:0; height:100%; background:#1e2527; box-shadow:10px 0 40px -4px rgba(0,0,0,.3); overflow-y:auto; z-index:1; }
body, aside
	{ padding-top:79px; }
aside nav ul
	{ margin:0; padding:0; list-style:none; }
aside nav ul li
	{ border-bottom:1px solid #2b373a; }
aside nav ul li a
	{ display:block; font-size:14px; padding:0 25px; color:#6a7779; font-weight:700; line-height:48px; }
aside nav ul li a .fa
	{ margin-right:10px; font-size:16px; vertical-align:middle; margin-top:-1px; }
aside nav ul li:hover a, aside nav ul li.active a
	{ color:#FFF; border-left:6px solid #00d7b3; }
article
	{ margin:20px 20px 20px 220px; }

.box1
	{ background:#FFF; padding:10px 15px; margin:0 0 15px 0; border:1px solid #ebebeb; }
.box1 h2
	{ margin:0 0 10px 0; padding:0 0 10px 0; color:#2b373a; font-size:20px; border-bottom:1px solid #ebebeb; }
.box1 h2 a
	{ font-size:16px; display:inline-block; color:#2b373a; margin:1px 0 0 0; }
.box1 h2 a:hover
	{ color:#666; }
.box1 h2 a .fa
	{ font-size:20px; vertical-align:middle; margin:0; }
.box1 h3
	{ margin:15px 0 8px 0; padding:0 0 6px 0; color:#2b373a; font-size:16px; letter-spacing:1px; border-bottom:1px solid #ebebeb; }
.box1 footer
	{ border-top:1px solid #ebebeb; padding:15px 0 0 0; margin:15px 0 0 0; }
.box1 footer table
	{ width:100%; }
.box1 footer table td:last-child
	{ text-align:right; }

.box1.dash
	{ box-sizing:border-box; padding:0; }
.box1.dash > a
	{ display:block; width:20%; border-left:1px solid #ebebeb; box-sizing:border-box; float:left; padding:15px; }
.box1.dash > a:first-child
	{ border-left:0 none; }
.dash .fa
	{ color:#00d7b3; font-size:24px; display:block; margin-bottom:10px; }
.dash b
	{ color:#2b373a; font-size:36px; font-weight:700; margin:0; display:inline-block; line-height:30px; margin-right:5px; }
.dash em
	{ font-size:13px; font-style:normal; vertical-align:top; display:inline-block; font-weight:700; max-width:70%; line-height:15px; margin-top:1px; color:#2b373a; }
.dash em span
	{ color:#888; }

.box2
	{ position:relative; background:#FFF; padding:12px 15px 12px 20px; margin:0 0 15px 0; border:1px solid #ebebeb; display:block; }
.box2:before
	{ background-color:#00d7b3; content:''; width:6px; height:100%; position:absolute; top:-1px; left:0; border-top:1px solid #ebebeb; border-bottom:1px solid #ebebeb; }
.box2 h1
	{ color:#2b373a; margin:0; padding:0; font-size:20px; }
.box2 table
	{ width:100%; }
.box2 td:last-child
	{ text-align:right; }
.box2 .btn1
	{ margin-left:10px; }

.fwbox
	{ max-width:500px; margin:auto; }

.data0 td, .data0 th
	{ padding:4px 0; }
.data0 th
	{ padding-right:10px; text-align:left; }

.data1
	{ border-collapse:collapse; width:100%; border-left:1px solid #eceeef; border-right:1px solid #eceeef; }
.data1 th, .data1 td
	{ padding:10px; border-top:1px solid #eceeef; border-bottom:1px solid #eceeef; white-space:nowrap; background:#FFF; font-size:12px; }
.data1 td
	{ transition:all 0.2s ease-in-out; }
.data1 th
	{ font-weight:700; color:#2b373a; font-size:14px; }
.data1 th a
	{ color:#2b373a; }
.data1 .so_asc a:after
	{ font-family:FontAwesome; content: "\f0d8"; margin-left:4px; }
.data1 .so_desc a:after
	{ font-family:FontAwesome; content: "\f0d7"; margin-left:4px; }
.data1 tr:hover td
	{ background:#e7e7e7; }
.data1 .lt
	{ text-align:left; }
.data1 .rt
	{ text-align:right; }
.data1 .ct
	{ text-align:center; }
.data1 .btn1 .fa
	{ margin-right:5px; }
.data1 tr.ina td
	{ background:#fffbef; }
.ina
 	{ color:#CCC; }
.data1 tr.err td
	{ background:#fff1ed; }
.data1 tr.new td
	{ font-weight:700; }
.data1 strong
	{ font-weight:400; display:inline-block; }
.data1 strong .fa
	{ margin-right:5px; }
.data1 strong a
	{ text-transform:none; }
.data1 .fa-check
	{ color:#0F0; }
.data1 .fa-close
	{ color:#F00; }
.data1 .imgc1
	{ border-radius:3px; width:64px; height:64px; }

.fc
	{ padding:0 0 8px 0; }
.fn
	{ color:#2b373a; margin:0 0 3px 0; }
.txt, textarea, select
	{ border:1px solid #ebebeb; padding:6px 8px; border-radius:3px; color:#A8A8A8; width:100%; box-sizing:border-box; transition:all 0.15s ease-in; }
select
	{ padding:3px 20px 3px 8px; -webkit-appearance:none; border-radius:3px; height:34px; cursor:pointer;
		background-color:#FFF;
		background-image:url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
		background-repeat:no-repeat; background-position:right center; }
.txt:focus, textarea:focus, select:focus
	{ border-color:#CCC; outline:none; }
.txt:disabled, textarea:disabled, select:disabled
	{ background:#CCC; color:#666; }
.txt.num1
	{ width:60px; text-align:right; margin-right:4px; }
.txt.num2
	{ width:90px; text-align:right; margin-right:4px; }
.txt[type="date"]
	{ padding:6px 8px; height:35px; }
.def
	{ color:#CCC; }
.big_ta
	{ width:80vw; height:500px; }
input[type=radio]
	{ margin:5px 7px 0 0; }
label input[type=checkbox]
	{ margin:-2px 3px 0 0; vertical-align:middle; }
.err
	{ color:#F00; }
form .err
	{ padding-top:3px; }
.errc
	{ color:#FFF; background:#C62828; padding:8px 10px; margin-bottom:15px; border-radius:3px; }
.errc a
	{ color:#FFF; }
.msgc
	{ color:#FFF; background:#1C691F; padding:8px 10px; margin-bottom:15px; border-radius:3px; text-transform:uppercase; }
.infoc
	{ color:#FFF; background:#536dfe; padding:8px 10px; margin-bottom:15px; border-radius:3px; }
form .errc, form .msgc
	{ display:none; }
label
	{ margin-right:20px; display:block; }
.filters
	{ margin-left:15px; display:inline-block; position:relative; }
.filters select
	{ width:auto; padding:1px 20px 1px 8px; height:30px; border-radius:200px; }
.filters .txt
	{ width:200px; padding:4px 60px 4px 20px; border-radius:200px; font-size:12px; }
.filters button
	{ background:#535d5f; border:0 none; color:#FFF; text-align:center; width:29px; height:29px; box-sizing:border-box; border-radius:100%; cursor:pointer; position:absolute; right:0; top:0; outline:none; }
.filters button:hover
	{ background:#647072; }
.data1 .txt
	{ padding:4px 8px; font-size:12px; }
.data1 select
	{ padding:0 20px 0 8px; height:29px; font-size:12px; }

.btn1
	{ background:#00d7b3; color:#FFF; font-size:12px; display:inline-block; padding:5px 20px; border-radius:3px; font-weight:700; border:0 none; cursor:pointer; text-align:center; transition:all 0.2s ease-in-out; }
.btn1 .fa
	{ margin-right:8px; }
.btn1.small
	{ font-weight:400; padding:3px 10px; }
.btn1:focus
	{ outline:none; }
.btn1:hover
	{ background:#0ae7c2; color:#FFF; }
.btn1.alt1
	{ background:#00d7b3; }
.btn1.alt1:hover
	{ background:#0ae7c2; }
.btn1.alt2
	{ background:#535d5f; }
.btn1.alt2:hover
	{ background:#647072; }
.btn1:disabled
	{ background:#CCC; color:#666; }

.btn2
	{ font-size:12px; text-transform:uppercase; border-radius:3px; padding:10px; font-weight:500; display:inline-block;
		transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1); }
.btn2:hover
	{ background-color:rgba(158,158,158,0.2); }
.btn2.red
	{ color:#C62828; }
.tinyb
	{ background:#0275d8; display:inline-block; color:#FFF; font-size:11px; padding:1px 4px 1px 4px; border-radius:3px; text-transform:uppercase; }

.pgc
	{ border:1px solid #eceeef; border-top:0 none; background:#FFF; padding:20px; }
.paging
	{ margin:0; padding:0; list-style:none; float:right; }
.paging li
	{ float:left; margin:0 0 0 5px; }
.paging a, .paging span
	{ display:block; border-radius:2px; padding:5px 0; font-weight:700; text-align:center; width:31px; box-sizing:border-box; color:#FFF; font-size:12px; }
.paging a
	{ background:#535d5f; }
.paging span
	{ background:#00d7b3; }
.paging a:hover
	{ background:#647072; }
.paging a .fa
	{ margin-right:0; }

.tabs
	{ margin:0 0 20px 0; padding:0; list-style:none; border-bottom:1px solid rgba(0,0,0,0.12); }
.tabs li
	{ float:left; border-bottom:2px solid transparent; }
.tabs a
	{ display:block; padding:12px 24px 10px 24px; font-weight:500; font-size:14px; text-transform:uppercase; color:rgba(0,0,0,0.54); }
.tabs li.active
	{ border-bottom:2px solid #607d8b; }
.tabs li.active a
	{ color:#536dfe; }
.tabs:after
	{ content:" "; display:block; clear:both; }

.spl:after
	{ clear:both; content:''; display:block; }
.spl > div
	{ float:left; box-sizing:border-box; }
.third
	{ width:33.33%; }
.half
	{ width:50%; }
.spl.padr
	{ margin-right:-10px; }
.spl.padr > div
	{ padding-right:10px; }

.modal0
	{ position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.4); z-index:10;
		display:-webkit-flex; display:flex; justify-content:center; -webkit-justify-content:center; align-items:center; -webkit-align-items:center; }
.modal0 > div
	{ min-width:320px; box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12); }
.modal0 > div.box1
	{ max-height:80vh; overflow:auto; }

.modal
	{ position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.6); z-index:20;
		display:-webkit-flex; display:flex; justify-content:center; -webkit-justify-content:center; align-items:center; -webkit-align-items:center; }
.modal > div
	{ min-width:320px; padding:20px; background:#FFF;
		border-radius:4px; box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12); }
.modal .tt
	{ font-size:20px; }
.modal .fr
	{ margin:20px 0 0 0; }
.modal .fr .btn1
	{ margin-left:5px; }
.modal p
	{ color:#787878; font-size:15px; }

.mclose
	{ float:right; }
.mclose .fa
	{ margin:2px -5px 0 0; }

		